.pokemon-trainer-container {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 64px;
    height: 64px;

    &:hover {
        .pokemon-trainer-container__tooltip-img {
            opacity: 1;
        }
    }

    &__tooltip-img {
        top: -100%;
        position: absolute;
        opacity: 0;
    }

    &__tooltip-search {
        top: -100%;
        position: absolute;
    }

    &__walking {
        height: 54px;
        object-fit: contain;

        animation-name: animation-walking;
        animation-duration: .6s;
        animation-iteration-count: infinite;
    }

}

@keyframes animation-walking {
    0% {
        content: url("../../../assets/images/ashStop.png")
    }

    25% {
        content: url("../../../assets/images/ashLeftLeg.png")
    }

    50% {
        content: url("../../../assets/images/ashStop.png")
    }


    75% {
        content: url("../../../assets/images/ashRightLeg.png")
    }

    100% {
        content: url("../../../assets/images/ashStop.png")
    }
}